nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  padding: 0;
  list-style: none;
}

ul li {
  display: inline-block;
  position: relative;
  text-align: left;
}

ul li a {
  display: block;
  padding: 20px;
  color: #333;
  text-decoration: none;
  font-weight: 600;
}

ul li a:hover {
  background: #d8d8d8;
}

ul li ul.dropdown {
  width: 200px;
  background: #f2f2f2;
  display: none;
  position: absolute;
  z-index: 2;
  left: 0;
}

ul li:hover ul.dropdown {
  display: block;
}

ul li ul.dropdown li {
  display: block;
}

.responsive__menu {
  display: none;
}

.active {
  display: none;
  z-index: 5;
}

svg {
  width: 28px;
  height: 28px;
}

/* responsive */
@media (max-width: 1000px) {
  nav {
    justify-content: space-between;
    padding: 10px;
  }

  .responsive__menu {
    display: block;
  }

  .regular__menu li {
    display: none;
  }

  ul li ul.dropdown {
    width: 200px;
    right: 200px;
  }

  .active {
    display: block;
  }

  .responsive__item {
    background-color: #f2f2f2;
  }
}
